#nickname{
    color: white;
    text-decoration: underline;
    margin-right: 5px;
}

.regular-text{
    color: #a1a0a0
}

.welcome{
    padding-top: 20%;
    color: #f0c977;
    padding-left: 5%;
    font-family: sans-serif;
}

.welcome-description{
    max-width: 85%;
    padding-top: 3rem;
    font-weight: 400;
    font-size: 1.34rem;
}
.welcome-description p{
    margin-bottom: 0;
}

#navbar-container{
    padding: 0;
}

#main-container {
    padding : 10px;
    min-height: 90vh;
    background-color: #292b2c;
    border-radius: 0px 0px 20px 20px;
}

.google-button {
    background: blue;
}

#nav-logo {
    padding-right: 5px;
    max-height: 45px;
    width: auto;
    height: auto;
}

.card-container{
    margin-left: 0;
    margin-right: 0;
}

.sub-bar{
    display: inline-flex;
}

.sub-bar h1{
    height: 20px;
    margin-top: -10px;
    margin-left: 15px;
}

.plan-members{
    display: flex;
    flex-wrap: wrap;
    height: auto; /* So it autos to parent if smaller than max-height */
    max-height: 118px; /* Size you want the max for the height */
    overflow-y: scroll; 
    width: auto;
    margin-left: 10px;
}

.game-member{
    background-color: rgb(192, 209, 155);
    display: flex;
    flex-direction: row;
}

#nickname-requests{
    display: inline-flex;
}

#add-button{
    width: 38px;
    border: 0px;
    padding: 0px;
    outline: none;
    background-color: #292b2c;
    color: #e08c0d;
}

#add-member{
    position: relative;
    top: 6px;
    left: 5px;
    width: 15px;
    margin-top: 0px;
    border: 0px;
    outline: none;
    height: 6px;
    padding: 0px;
    background-color: rgba(169, 192, 124, 0);
    color: #e08c0d;
}

#edit-button{
    width: 38px;
    border: 0px;
    outline: none;
    padding: 0px;
    margin-top: -10px;
    margin-left: -17px;
    background-color: #292b2c;
    color: #e08c0d;
}

#friends-icon {
    color: #e08c0d;
    background-color: #343a40;
    margin-right: 5px;
    border: 0px;
    outline: none;
}

#delete-game{
    position: absolute;
    right: 10px;
    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    height: 4px;
}

#remove-gamemember{

    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1.5px;
    height: 4px;
    color: rgb(179, 14, 14);
}

#decline-friendrequest{
    position: absolute;
    right: 25px;
    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    padding-left: -100px;
    height: 4px;
    color: rgb(179, 14, 14);
}

#accept-friendrequest{
    position: absolute;
    right: 2px;
    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    padding-left: -100px;
    height: 4px;
    color: rgb(3, 124, 53);
}

#delete-game2{
    position: absolute;
    right: 10px;
    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    height: 4px;
    z-index: 100;
}

.card{
    background: rgb(169, 192, 124);
}

.card-body{
    height: auto;
}

#nicknameForm{
    max-width: 50%;
    min-width: 250px;
}

.empty-sizeless-div{
    height: 0px;
    width: 0px;
}

#game-details{
    position: absolute;
    right: 10px;
    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    height: 4px;
}

.mainText {
    /* max-height: 490px; */
    max-height: 52vh;
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;   
    word-wrap: break-word; 
}

.mainText::-webkit-scrollbar, .dropdown-outer::-webkit-scrollbar, .plan-members::-webkit-scrollbar, #mainTextField::-webkit-scrollbar {
    width: 15px;              
}
#addMemberDropdown::-webkit-scrollbar {
    width: 15px;              
}
/* .mainText::-webkit-scrollbar-track, .plan-members::-webkit-scrollbar-track, #mainTextField::-webkit-scrollbar-track {
    background: rgb(169, 192, 124);
} */


#addMemberDropdown::-webkit-scrollbar-track, .dropdown-outer::-webkit-scrollbar-track {
    background-color: rgb(192, 209, 155);  
}
.mainText::-webkit-scrollbar-thumb, .dropdown-outer::-webkit-scrollbar-thumb, .plan-members::-webkit-scrollbar-thumb, #mainTextField::-webkit-scrollbar-thumb {
    background-color: #343a40;    
    border-radius: 20px;      
    border: 3px solid rgb(169, 192, 124);  
}

#addMemberDropdown::-webkit-scrollbar-thumb {
    background-color: #343a40;    
    border-radius: 20px;      
    border: 3px solid rgb(192, 209, 155);     
}

#guest-plan-members::-webkit-scrollbar-thumb {
    background-color: #343a40;    
    border-radius: 20px;      
    border: 3px solid rgb(129, 172, 179);     
}

.mainText::-webkit-scrollbar-corner, .dropdown-outer::-webkit-scrollbar-corner, .plan-members::-webkit-scrollbar-corner, #mainTextField::-webkit-scrollbar-corner {
    background: rgb(169, 192, 124);
}
#addMemberDropdown::-webkit-scrollbar-corner {
    background-color: rgb(192, 209, 155);   
}
#mainTextField {
    background-color: rgb(169, 192, 124);
}

#titleField, #nicknameField {
    background-color: rgb(169, 192, 124);
}

.requests-container{
    display :flex;
    flex-direction: column;
    width: auto;
}

.dropdown-menu {
    
    background-color: rgb(192, 209, 155);
}

.dropdown-outer{
height: auto; /* So it autos to parent if smaller than max-height */
max-height: 400px; /* Size you want the max for the height */
overflow-y: scroll; 
width: 250px;
margin-left: 10px;;
}

#gamesDropdown{
    min-width: 330px;
    width: auto;
}

.dropdown-inner{
    width: 140px;
}

#dropdown-nicknames{
    width: auto;
    color: #292b2c;
}

#addMemberDropdown{
    background-color: rgb(192, 209, 155);
    height:100px;
    height: auto; /* So it autos to parent if smaller than max-height */
    max-height: 500px; /* Size you want the max for the height */
    overflow-y: scroll; 
    width: 250px;
    margin-left: 10px;
}

#reject-friendrequest-button{
    position: absolute;
    right: 10px;
    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    height: 4px;
}

#friend-notification{
    color: red;
    position: absolute;
    right: 40px;
    top: -5px;
}

#game-notification{
    color: red;
    position: absolute;
    right: 27px;
    top: -5px;
}

#welcome{
    text-align: center;
}

#exampleModalLongTitle{
    max-width: 100%;
    width: auto;
}

#modalClose{
    position: absolute;
    right: 10px;
    top: 0px;
}

.modal-content {
    word-wrap: break-word;
}