#nickname{
    color: white;
    text-decoration: underline;
    margin-right: 5px;
}

.regular-text{
    color: #a1a0a0
}

#navbar-container{
    padding: 0;
}

#main-container {
    padding : 10px;
    height: 100vh;
    background-color: #292b2c;
}

.google-button {
    background: blue;
}

#nav-logo {
    padding-right: 5px;
    max-height: 45px;
    width: auto;
    height: auto;
}

.card-container{
    margin-left: 0;
    margin-right: 0;
}

#add-button{
    width: 38px;
    border: 0px;
    padding: 0px;
    background-color: #292b2c;
    color: #e08c0d;
}

#delete-game{
    position: absolute;
    right: 10px;
    background: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    height: 5px;
}

.card{
    background: rgb(169, 192, 124);
}

.card-body{
    height: auto;
}

#nicknameForm{
    max-width: 50%;
    min-width: 250px;
}

#mainText{
    height: auto;
}

.empty-sizeless-div{
    height: 0px;
    width: 0px;
}